img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  background: #000;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  overflow: hidden;
}
h1, time {
  font-family: 'IM Fell Great Primer', "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
a, a:visited {
  color: #fff;
  text-decoration: none;
}
.main {
  width: 100%;
  text-shadow: 0 0 16px red, 0 0 16px red;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  margin-top: -11em;
}
.main h1 {
  font-size: 6em;
  text-align: center;
  margin: 0;
}
.main time {
  font-size: 8em;
}
.main time span {
  font-size: 0.5em;
}
.message {
  margin-top: 4em;
  text-shadow: none;
  font-size: 1.4em;
}
.twitter-icon img {
  margin-bottom: -0.6em;
  margin-left: 0.5em;
}
footer {
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
  padding: 1em 0;
  background-color: #222;
  /*background-color: rgba(100, 100, 100, .2);*/
  color: #ccc;
  text-align: center;
}
.social {
  display: none; /* js */
}
.social li {
  display: inline-block;
  margin: 0 0.2em;
}
small {
  font-size: 1em;
}

.fb_iframe_widget span {
  vertical-align: inherit !important;
}
.fb-like-button-container {
  max-height: 20px;
}
.twitter {
  width: 100px;
}

html, body, .container {
  width: 100%;
  height: 100%; 
}
.container {
  overflow: hidden;
  position: relative;
}


/* for mobile*/
@media all and (max-width: 480px) {
.main {
  margin-top: -7.5em;
}
.main h1 {
  font-size: 2em;
}
.main time {
  font-size: 4em;
}
.message {
  margin-top: 2em;
  font-size: 0.9em;
}
small {
  font-size: 0.9em;
}
.twitter-icon img {
  width: 2em;
}
.social ul {
  margin-top: 0;
}
.social li {
  margin: 0 0.2em;
}
/*footer {
  max-height: 91px;
  overflow: hidden;
}*/

}
/* end for mobile*/