img {
  max-width: 100%;
}
body {
  padding: 0;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* width: 100%; */
  /* max-width: 1080px; */
  /* margin: 0 auto; */
  background: url(../img/background.png) no-repeat;
  background-size: contain;
  color: #fff;
  /* padding-top: 1px; */
}
.contents {
  float: right;
  width: 65%;
  margin: 6em 1em 0 0;
}

.entry-btn {
  display: block;
  width: 100%;
  margin: 1em auto;
  max-width: 400px;
}
.entry-btn.savior {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82bee9), color-stop(100%, #458dcb));
  background: -webkit-linear-gradient(top, #82bee9, #458dcb);
  background: -moz-linear-gradient(top, #82bee9, #458dcb);
  background: -o-linear-gradient(top, #82bee9, #458dcb);
  background: linear-gradient(to bottom, #82bee9, #458dcb);
}
.entry-btn.hunter {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85e185), color-stop(100%, #5eba5e));
  background: -webkit-linear-gradient(top, #85e185, #5eba5e);
  background: -moz-linear-gradient(top, #85e185, #5eba5e);
  background: -o-linear-gradient(top, #85e185, #5eba5e);
  background: linear-gradient(to bottom, #85e185, #5eba5e);
}
.regulation {
  background: #2D2D2D;
  padding: 0.4em 1em;
  border-radius: 0.4em;
}
.summary {
  font-size: 2em;
  font-weight: bold;
}
.event-time {
  color: #bbb625;
}

.container {
  position: relative;
}
.title-logo {
  width: 100%;
  overflow: hidden;
}
.logo {
  float: left;
  width: 60%;
}
.menu {
  position: fixed;
  bottom: 3em;
  margin: -3em 0 0 1em;
  width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 200px;
  background: url(../img/menu_logo.png) 50% 0 no-repeat;
  background-size: 80%;
}
.list-group-item {
  padding-left: 60px; 
  position: relative;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  /*border-bottom: 1px solid #330D06;*/
  border: 1px solid #5E4743;
}
a.list-group-item {
  color: #fff;
  text-shadow: 0px 0px 10px red, 0px 0px 10px red;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}
.list-group-item:before {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  content: '';
  width: 41.25px;
  height: 21.75px;
  background: url(../img/menu-icon.png) no-repeat;
  background-size: 100%;
  margin-top: -15px;
}
.logo {
  width: 55%;
  margin: 0;
  box-sizing: border-box;
}
.logo img {
  width: 100%;
}
.date {
  display: inline-block;
  /*float: left;*/
  /*width: 45%;*/
  line-height: 1.4;
  font-size: 6em;
  font-weight: bold;
  color: #fff;
  text-align: right;
  margin-top: 2.8em;
  margin-left: -2em;
  text-shadow: 0px 0px 10px red, 0px 0px 10px red;
}
.date .year {
  font-size: 0.5em;
  margin-right: -0.2em;
}
.place {
  font-weight: normal;
  text-align: right;
  font-size: 0.3em;
  margin-top: -1.6em;
}
.game-logo {
  clear: both;
  width: 80%;
  width: 100%;
}
.game-logo ul {
  list-style: none;
  margin: -1em 0 0 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.game-logo ul li {
  display: inline-block;
  width: 20%;
  padding: 0;
}


.contents > section {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  /* border-radius: 1em; */
  margin-bottom: 2em;
  color: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #5E4743;
  /* box-shadow: 0px 0px 10px red; */
}
.contents > section h2 {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 10px red, 0px 0px 10px red;
}

footer {
  margin: 1em 0;
  font-size: 1em;
  clear: both;
  text-align: center;
}

section > section {
  padding: 1em;
}

section h3 {
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #5E4743;
}

.savior h3, .hunter h3 {
  background: url(../img/vs_logo.png) no-repeat;
  background-size: 100px;
  margin: 0 0 0.4em 0;
  padding: 20px 0 30px 108px;
}
.hunter h3 {
  background: url(../img/vh_logo.png) no-repeat;
  background-size: 100px;
}
.caution {
  margin: 1em;
  /*text-decoration: underline;*/
  line-height: 1.5;
}


.staff {
  width: 100%;
  margin: auto;
}
.staff ul {
  margin: 0;
  padding: 1em;
}
.staff li {
  list-style-type: none;
}
.staff li::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.staff li .staff-logo-wrapper {
  float: left;
  width: 20%;
}
.staff li .staff-info {
  float: right;
  width: 80%;
  margin-top: 0.2em;
}
.staff li .staff-info .staff-name {
  font-weight: bold;
}
.staff li .staff-info .staff-role,
.staff li .staff-info .staff-description {
  margin: 0.2em 0 0;
  font-size: 0.85em;
  padding: 0;
}
.staff li .staff-logo {
  width: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  /*border: 8px solid rgba(0, 0, 0, 0.05);*/
  /*box-shadow: 0 1px 2px #ffffff, 0 -1px 2px rgba(0, 0, 0, 0.5);*/
}

.social {
  text-align: center;
  margin: 2em 0 -5em;
  width: 70%;
  float: right;
}
.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social ul li {
  display: inline-block;
}
.entry-btns {
  margin-top: 2em;
}
.entry-btn {
  font-size: 1.4em;
  position: relative;
}
.entry-btn:after {
  display: inline-block;
  content: '▲';
  font-size: 1.1em;
  position: absolute;
  right: 16px;
  margin-bottom: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.entry-btn.savior:before, .entry-btn.hunter:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 16px;
  content: '';
  height: 46px;
  width: 100px;
  background: url(../img/vs_logo.png) no-repeat;
  background-size: contain;
  z-index: 999;
}
.entry-btn.hunter:before {
  background: url(../img/vh_logo.png) no-repeat;
  background-size: contain;
}
.catchphrase {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1.4em;
}
p {
  font-size: 1.1em;
  line-height: 1.5;
}

.timetable {
  font-size: 1.2em;
  border: 1px solid gray;
  border-right-width: 0;
  border-left-width: 0;
  overflow: hidden;
  width: 95%;
  margin: 2em auto;
}
.timetable dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dotted gray;
}
.timetable dd:last-child {
  border-bottom-width: 0;
}
.timetable dt {
  clear: both;
  float: left;
  width: 30%;
  text-align: center;
}
.timetable dd {
  padding: 0.5em 0 0.5em 30%;
}
.timetable dt {
  padding: 0.5em 0;
}
.fes ul li{
  margin-bottom: 1em;
}
.fes ul {
  margin-bottom: 2em;
}
.fes small {
  display: block;
}
.fes-detail {
  text-decoration: underline;
  margin: 2em 0;
}
small {
  font-size: 1em;
}
.event-summary {
  font-size: 1.1em;
  overflow: hidden;
  width: 100%;
  margin: 2em 0;
}
.event-summary dt {
  display: block;
  clear: both;
  float: left;
  width: 7em;
  padding: 0.2em 0;
  font-weight: normal;
  position: relative;
}
.event-summary dt:after {
  position: absolute;
  right: -1.5em;
  width: 1em;
  height: 1em;
  content: ':';
}
.event-summary dd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.2em 0 0.2em 8.5em;
}

.after-party {
  margin-top: 2em;
}
.after-party b {
  font-weight: normal;
  text-decoration: underline;
}
.after-party small {
  margin-top: 1em;
  display: block;
}
.after-party-title {
  font-size: 1.1em;
  /*font-weight: bold;*/
  display: block;
  margin-bottom: 1em;
}
.staff li .staff-info .staff-description {
  margin-top: 0.5em;
}
.staff li {
  margin-bottom: 2em;
}

#twitter-widget-1 {
  width: 90%;
}

/* for tablet */
@media all and (max-width: 960px) {
  .menu {
    margin-left: 0;
    padding-top: 130px;
    width: 230px;
  }
  .date {
    font-size: 4em;
    margin: 2.5em 0 0 -2em;
  }
  .contents {
    margin-right: 0.5em;
  }
}

@media all and (max-height: 800px) {
  .menu {
    bottom: 0;
  }
}

/* for mobile */
@media all and (max-width: 600px) {
  .title-logo {
    width: 100%;
  }
  .logo {
    width: 80%;
  }
  .date {
    float: none;
    width: 100%;
    margin: 0;
    font-size: 4em;
    text-align: center;
  }
  .place {
    text-align: center;
  }
  .game-logo {
    width: 100%;
    margin-top: 0.5em;
  }
  .game-logo ul {
    margin: 0;
  }
  .game-logo ul li {
    width: 40%;
  }
  .menu {
    position: static;
    width: 95%;
    margin: 1em auto 0;
    font-size: 1.2em;
    padding: 0;
    background: none;
  }
  .contents {
    float: none;
    width: 100%;
    margin: 2em 0 0;
  }
  .contents > section {
    padding: 0.8em;
  }
  .contents > section h2 {
    font-size: 1.5em;
  }
  .contents > section h3 {
    font-size: 1.4em;
  }
  .contents > section ul {
    margin-left: -1em;
  }
  .entry-btn {
    width: 95%;
    /*font-size: 1em;*/
  }
  .savior h3, .hunter h3  {
    padding: 15px 0 15px 108px;
  }
  .staff li .staff-info {
    width: 75%;
  }
  .social {
    text-align: center;
    margin: 1em auto 0;
    width: 90%;
    float: none;
  }
  p {
    font-size: 1em;
    line-height: 1.5;
  }
  .timetable {
    font-size: 1em;
  }
  .event-summary {
    font-size: 1em;
  }
  .event-summary dt {
    float: none;
    width: 100%;
  }
  .event-summary dt:after {
    position: static;
    margin-left: 0.5em;
  }
  .event-summary dd {
    padding: 0.2em 0 0.2em 0.9em;
  }
  #twitter-widget-1 {
    max-height: 400px;
  }
  section > section {
    padding: 0;
  }
}